// Colours Palett
$yellow: #ffd000;
$blue: #00739f;
$light-blue: #d4e9ff;
$cyan: #00c0e6;
$dark-blue: #003966;
$orange: #ff8300;
$marine: #00bab5;
$light-gray: #d0d2d3;
$gray: #b3b3b3;
$dark-gray: #555;
$black: #222;
